.panda-bg {
  background-color: #fceae8;
}
.img-catagories img {
  width: 100px;
}
.btn-color {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.cat1 {
  background-color: #ffa500;
}
.cat2 {
  background-color: #da70d6;
}
.cat3 {
  background-color: #0000ff;
}

/*-----------------------------------------
             Card styles
------------------------------------ */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
}
